<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SHOPPING_USER">
	<resultMap type="com.spring.biz.vo.UserVO" id="user">
		<result column="USER_CODE" 				property="userCode"/>
		<result column="USER_ID" 				property="userId"/>
		<result column="USER_PASSWORD" 			property="userPassword"/>
		<result column="USER_PHONE" 			property="userPhone"/>
		<result column="USER_EMAIL" 			property="userEmail"/>
		<result column="USER_ADDRESS" 			property="userAddress"/>
		<result column="USER_ADDRESS_INFO" 		property="userAddress_info"/>
		<result column="USER_ADMIN" 			property="userAdmin"/>
		<result column="USER_BIRTH" 			property="userBirth"/>
		<result column="USER_JOINDAY" 			property="userJoinday"/>
	</resultMap>
	
	<select id="selectUserIdList" resultMap="user">
		SELECT 
				USER_CODE
				, USER_ID
				, USER_PASSWORD
				, USER_PHONE
				, USER_EMAIL
				, USER_ADDRESS
				, USER_ADDRESS_INFO
				, USER_ADMIN
				, USER_BIRTH
				, USER_JOINDAY
		FROM SHOPPING_USER
	</select>
	
	
</mapper>